{% extends 'base.html' %}
{% load static %}
{% block titulo %} Cadastro - Listify {% endblock %}
{% block conteudo %}
    <main>
        <section>
        <div class="container">
            <div class="title">
                <img src="{% static 'Listify-logo.png' %}" alt="Logo Listify" style="width: 100px;">
                <h1>LISTIFY</h1>
            </div>
            <div class="frase1">
                <h2>O Sistema Inteligente para Gerenciar suas Tarefas.</h2>
            </div>
                <img src="https://readme-typing-svg.herokuapp.com?font=Poppins&weight=500&size=35&duration=3000&pause=50&color=F7F7F7&vCenter=true&width=200&lines=Simples.;%C3%81gil.;Produtivo." 
                alt="Typing SVG" />
        </div>
        <div class="buttons">
            <a class="btnLogin" href="{% url 'login' %}">Login</a>
            <a class="btnCadastro" href="{% url 'cadastro' %}">Cadastre-se</a>
        </div>
        </section>
    </main>
    {% endblock %}