{% extends 'base.html' %}
{% load static %}
{% block titulo %} Login - Listify {% endblock %}
{% block conteudo %}

<main class="flex-grow">
    <body class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md mx-auto">
            <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Login:</h1>
            <form action="{% url 'login' %}" method="post" class="space-y-4 text-black">
            {% csrf_token %}
            <div>
                {{ form.email.label_tag }}
                {{ form.email }} 
            </div>
            <div>
                {{ form.senha.label_tag }}
                {{ form.senha }}
            </div>
            <button
                type="submit"
                class="w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
            >
                Enviar
            </button>
                {% for message in messages %}
                    <div class="p-4 mb-4 rounded-lg {{ message.tags }}">
                        <p class="text-sm">{{ message }}</p>
                    </div>
                {% endfor %}
            </form>
        </div>
    </body>
</main>

{% endblock %}